.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  padding: 40px;
}
.cover {
  margin-left: 12px;
}
.btnContainer {
  display: flex;
}
.trackInfo {
  display: flex;
  margin-left: 12px;
}

.title {
  margin-left: 2px;
}

.artist {
  margin-left: 12px;
}

.btn {
  margin-left: 12px;
  margin-right: 10px;
}

.duration {
  margin-left: 10px;
  font-size: 0.875rem;
  display: flex;
}

.trackItem:hover {
  transform: scale(1.02);
  background-color: #3a3a3a;
}
.contFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  flex: 1 1 auto;
  text-align: left;
}
