/* App.module.css */
.appContainer {
  position: relative;
  background-color: #000000; /* Dark background */
  background-color: #2a0053; /* Dark purple base color */
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 0, 83, 0.8);
  z-index: -1;
}
.bodyContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  gap: 2rem;
}
.header {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #30d158; /* Neon green */
}
@media only screen and (min-width: 767px) {
  .header {
    font-size: 4rem;
    margin-bottom: 55px;
  }
}
