.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchBarContainer {
  display: flex;
  flex-grow: 1;
}

.homeContainer {
  margin-right: 10px; /* Provide some spacing between the home icon and the search bar */
}

.btnContainer {
  display: flex;
  align-items: center; /* Align the buttons vertically in the center */
}

.searchBarInput {
  flex-grow: 1; /* Allow the search input to expand to fill space */
  margin-right: 10px; /* Spacing between input and button */
  border-radius: 20px;
  color: antiquewhite;
  background-color: #333;
  padding: 8px 40px;
}

.homeContainer {
  border-radius: 100%;
  padding: 6px;
  background-color: #333;
  color: antiquewhite;
}

.searchBarIcon {
  padding: 6px;
  margin-left: 10px;
  border-radius: 100%;
}
