.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.homeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 12px;
  background-color: #333;
  color: white;
  font-size: 16px;
}

.form {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between home icon, input, and search icon */
}

.searchBar {
  display: flex;
  flex-grow: 1; /* Allow the input to grow and take up available space */
  max-width: 600px; /* Control max width */
  padding: 8px 12px; /* Ensure padding inside the input is enough for readability */
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btnContainer {
  display: flex;
  align-items: center; /* Align the buttons vertically in the center */
  justify-content: center;
}

.searchBarIcon {
  padding: 12px;
  border-radius: 100%;
  background-color: #333;
  color: white;
  font-size: 1rem;
}
.headerContainer {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.header {
  font-size: 2rem;
  color: white;
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  .header {
    font-size: 3rem;
  }
}
