.trackItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #404040;
}

.trackDetails {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.trackCover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 10px;
}

.trackName {
  font-size: 16px;
  color: #ffffff;
}

.trackAlbum {
  font-size: 14px;
  color: #bbbbbb;
  margin-left: auto;
  padding-left: 20px;
}

/* Adding animation for hover effects on track items */
.trackItem:hover {
  background-color: #333333;
}

/* Playlist.module.css */
.playlistContainer {
  background-color: #121212; /* dark background */
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.playlistHeader {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid grey; /* subtle division line */
}

.playlistImage {
  width: 50px; /* small image, adjust as necessary */
  height: 50px;
  border-radius: 50%; /* circular image */
  margin-right: 20px;
}

.playlistName {
  font-size: 24px;
  font-weight: bold;
}

.trackList {
  margin-top: 20px;
}

.trackItem {
  padding: 10px 0; /* spacing between items */
  border-bottom: 1px solid grey; /* subtle division line for each item */
}

.lastItem {
  border-bottom: none; /* no border for the last item */
}
