/* src/components/SongItem.module.css */
.trackItem {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5); /* Translucent dark overlay */
  justify-content: space-between; /* Adjusts children to each side of container */
  align-items: center; /* Vertical alignment */
  padding: 40px;
  border-radius: 10px;
  margin: 10px 0;
  text-align: center;
}

.trackDetails {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allows this container to take up as much space as possible */
  text-align: center;
}

.trackCover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 10px;
  display: flex;
}

.trackAlbum {
  margin-left: 12px;
}
.buttonContainer {
  display: flex;
  justify-content: center; /* Center button within the container */
  margin-left: 12px;
  margin-right: 10px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  padding: 40px;
}

.trackInfo {
  margin-left: 12px;
}

.title {
  margin-left: 2px;
}

.artist {
  margin-left: 12px;
}

.btn {
}

.duration {
  margin-left: 12px;
}
