/* src/components/SongItem.module.css */

.trackDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  text-align: center;
}

.trackAlbum {
  margin-left: 12px;
}
.buttonContainer {
  display: flex;
  justify-content: center; /* Center button within the container */
  margin-left: 12px;
  margin-right: 10px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  padding: 40px;
}

.trackInfo {
  margin-left: 12px;
}

.title {
  margin-left: 2px;
}

.artist {
  margin-left: 12px;
}

.btn {
}

.duration {
  margin-right: 10px;
}
